/* 画面全体にローディング画面を表示 */
#loading {
	content:"";
	display:block;
	position:fixed;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	height:100vh;
	background:black center no-repeat;
	background-size:cover;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:hidden;
}

#loading Image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*画面全体にローディング画面を表示*/
/* #loading {
	width: 100%;
	height: 100vh;
	background-color: black;
	position: relative;
}

#loading Image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

#loading p {
	position: absolute;
	font-size: xx-large;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}